.dart_tool/
.direnv/
.git/
.github/
.idea/
android/
appimage/
assets/js/package
build/
configurations/
!configurations/nginx.conf.template
docs/
fastlane/
frdoid/
integration_test/
ios/
linux/
macos/
scripts/
!scripts/build-web.sh
windows/
winuwp

.envrc
.gitignore
.gitlab-ci.yml
*.md
LICENSE
flake.lock
flake.nix

.DS_Store/
**/*.class
**/*.log
**/*.pyc
**/*.swp
**/*.snap

**/*.g.dart
**/*.mocks.dart
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/

!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages
